alibs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.rtl.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.rtl.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.rtl.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-grid.rtl.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.rtl.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.rtl.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.rtl.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-reboot.rtl.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.rtl.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.rtl.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.rtl.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap-utilities.rtl.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.min.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.rtl.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.rtl.css.map
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.rtl.min.css
libs/assets/bootstrap-5.2.2-dist/css/bootstrap.rtl.min.css.map
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.bundle.js
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.bundle.js.map
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js.map
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.esm.js
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.esm.js.map
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.esm.min.js
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.esm.min.js.map
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.js
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.js.map
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.min.js
libs/assets/bootstrap-5.2.2-dist/js/bootstrap.min.js.map
libs/assets/font-awesome/css/all.min.css
libs/assets/font-awesome/css/brands.min.css
libs/assets/font-awesome/css/fontawesome.min.css
libs/assets/font-awesome/css/regular.min.css
libs/assets/font-awesome/css/solid.min.css
libs/assets/font-awesome/css/svg-with-js.min.css
libs/assets/font-awesome/css/v4-font-face.min.css
libs/assets/font-awesome/css/v4-shims.min.css
libs/assets/font-awesome/css/v5-font-face.min.css
libs/assets/font-awesome/webfonts/fa-brands-400.ttf
libs/assets/font-awesome/webfonts/fa-brands-400.woff2
libs/assets/font-awesome/webfonts/fa-regular-400.ttf
libs/assets/font-awesome/webfonts/fa-regular-400.woff2
libs/assets/font-awesome/webfonts/fa-solid-900.ttf
libs/assets/font-awesome/webfonts/fa-solid-900.woff2
libs/assets/font-awesome/webfonts/fa-v4compatibility.ttf
libs/assets/font-awesome/webfonts/fa-v4compatibility.woff2
libs/js/chroma.min.js
libs/js/jquery-3.6.1.min.js
libs/php/config.php
libs/php/deleteDepartmentByID.php
libs/php/getAll.php
libs/php/getAllDepartments.php
libs/php/getDepartmentByID.php
libs/php/getPersonnelByID.php
libs/php/insertDepartment.php
README.md
readMeFirst.docx
readMeFirst.pdf
libs/sql/companydirectory.sql
